<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text detection</title>
    <style>
        #form * {
            display: block;
            margin: 20px 0;
        }
        .hidden {
            display: none;
        }
        .detected {
            border: 1px solid black;
            margin: 20px 0;
            padding: 16px 10px;
        }
        .detected p {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <form id="form">
        <input type="file" name="image" id="file_image" />
        <button type="submit">Отправить</button>
    </form>
    <img src="https://miro.medium.com/max/882/1*9EBHIOzhE1XfMYoKz1JcsQ.gif" alt="loading" id="loading_img" class="hidden">
    <div id="result" style="white-space: pre-line"></div>
    <img src="" id="detection_image" width="1280" height="720" style="display:none;">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    	$('#form').on('submit', function(event) {
    	    $("#loading_img").removeClass('hidden');

    		event.preventDefault();
    		var formData = new FormData(this);

	        $.ajax({
		        type:'POST',
	            url: '/process',
	            data: formData,
	            cache: false,
	            contentType: false,
	            processData: false,
	            success: function(data) {
	                console.log("success");
	                console.log(data);

	                var array = JSON.parse(data);
	                console.log(array)

                    $('#result').html('');
                    for (var i = 0; i < array.length; i++) {
                        $('#result').append("<div class='detected'><p>" + array[i][0] + "</p>" + array[i][1].join('\n') + "</div>")
                    }

	                $("#loading_img").addClass('hidden');

	                var fullPath = document.getElementById('file_image').value;
                    if (fullPath) {
                        var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                        var filename = fullPath.substring(startIndex);
                        if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                            filename = filename.substring(1);
                        }
                    }
                    $("#detection_image").attr("src", "/" + filename).show();
	            },
	            error: function(data) {
	                console.log("error");
	                console.log(data);
	            }
    		});
        });
    </script>
</body>
</html>